{% extends 'base.html' %}
{% load extras %}

{%block body_class%}
    liste 
{%endblock%}

{%block content%}
<h2><em>Produits</em> La Liste, avec un grand <em>L</em></h2>
<a href="/produits/creer/" class="add">Ajouter un produit</a>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Brasseur</th>
            <th>Produit</th>
            <th>CMD four.</th>
            <th>CMD étu.</th>
            <th>En stock</th>
          </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Brasseur</th>
            <th>Produit</th>
            <th>CMD four.</th>
            <th>CMD étu.</th>
            <th>En stock</th>
          </tr>
    </tfoot>
{% for produit in object_list %}
    {% inventaire produit %}
{% endfor %}
</table>
{%endblock%}