{% extends "base.html"%}
{% load extras %}

{% block content %}
    <h2>{{produit.Brasseur.Nom}} {{produit.Nom}}</h2>
    <div class="consigne">Consigne pour une unité: <span>{{produit.Consigne|monetize}}</span></div>
    <h3>Liste des prix</h3>
    {% list_prix produit.id %}
    <h3>Ajouter un prix</h3>
    <form action="/produits/{{produit.id}}/add/" method="post" >
        <ul>
        {% if prix %}
            {{ prix.as_ul }}
        {% else %}
            {% prix_form produit.id %}
        {% endif %}
         <li><input type="submit" value="Ajouter de prix &rarr;" /></li>
        </ul>
    </form>
{% endblock %}