{% load extras %}
<form action="/factures/produit/ajout/" method="post" id="add_prod_comm">
    <div class="container">
    <header><h3>{{facture.Note}}</h3><div></div></header>
    <h3>Ajout d'une transaction</h3>
    {% if not facture.EstFermee %}
	<ul>
	    {% if facture.errors %}
	        {{facture.as_ul}}
	    {% else %}
	        {% transaction_form facture %}
	    {% endif %}
        <li><input type="submit" value="Ajouter ce produit &rarr;" id="submit_prod" name="submit_prod" />
	    <li class="clearer"></li>
        <li><a href="/factures/{{facture.id}}/fermer/" class="action">Terminer ma commande</a></li>
	</ul>
	<section class="notes">
        <p>Créer des produits dans l'<a href="/admin/biereapp/prix/">admin</a> ou avec le <a href="/produits/new/">système</a></p>
    </section>
	{% else %}
        <div class="errorlist">
            Cette facture est fermée. Vous ne pouvez plus la modifier. Ça inclut aussi ajouter des transactions.
            Vous pouvez tenter de la <a href="/factures/{{facture.id}}/ouvrir/">réouvrir</a>
        </div>
	{% endif %}
	</div>
</form>

<section class="dans_la_commande">
    <header><h3>Produits dans la {% if facture.is_client_interne %}commande{%else%} facture{%endif%}</h3><div></div></header>
    <ol>
        {% for t in facture.transactions %}
             <li class="{{t.Type}}"> 
                 <span class="type">{% trans_type t.Type %}</span> 
                 {{t.Prix.Produit.Nom}} 

                 {%if t.Prix %}<em>{{t.Prix.Prix|monetize}}</em>{% endif %}    

                 {% if t.Arbitraire > -1 %}<span>{{t.Raison}}</span>{% endif %} 

                 <small>{{t.Note}}</small> 

                 {% if t.Qte %}x{{t.Qte}}{% endif %}
                 <span class="price">{{t.get_total|monetize}}</span>
            </li>
        {% empty %}
            <li>Pas de transaction</li>
        {% endfor %}
    </ol>
    {% if not facture.is_client_interne %}
    <div class="tot">Total <em>{{facture.total|monetize}}</em></div>
    <div class="consigne">Balance de la consigne <em>{{facture.consigne}}</em></div>
    {% endif %}
</section>