{% load extras %}
<div class="prix">
    <ul class="liste_prix_produit">
        {% if prix %}
        {% for p in prix %}
             <li class="{{p.Type}}"> 
                 <span class="type">{{p.Type}}</span>
                 <span class="prix">{{p.Prix|monetize}}</span>
                 <span class="note">{{p.Note}}</span>
            </li>
        {% empty %}
            <li>Pas de prix pour ce produit</li>
        {% endfor %}
        {% else %}
            <li>Pas de prix pour ce produit</li>
        {% endif %}    
    </ul>
</div>