{% load extras %}
<div id="facture">
    <header>
        <ul>
            <li class="statut">Statut</li>
            <li class="produit">Produit</li>
            <li class="qte">Qte</li>
            <li class="cout">Coût</li>
        </ul>
    </header>
    {%  get_trans facture 'CMD' %}
    {%  get_trans facture 'INV_OUT' %}
    {%  get_trans facture 'RT' %}
    {%  get_trans facture 'RTV' %}
    {%  get_trans facture 'RBS' %}
    {%  get_trans facture 'PAIE' %}

 {% if not facture.is_client_interne %}
 <ol class="taxes">
 {% for key, value in facture.get_taxes %}
     <li class="{{key}}">{{ key }} <span class="price">{{ value|monetize }}</span></li>
 {% endfor %}
</ol>

 {% endif %}

 <div class="tot">Total <em>{{facture.total|monetize}}</em></div>
 <div class="consigne">Balance de la consigne <em>{{facture.consigne}}</em></div>
</div>