{% extends "base.html" %}
{% load comments %}
{% load io_extras %}

{%block title%}Modification de votre profile:: {{user.username}}{%endblock%}

{%block content%} 

<div class="page_desc">
    <p>Cette page vous permet de modifiers votre profil.</p>
    <p>Notez que l'image de profil n'est pas gèrer par le système, elle est sur <a href="http://gravatar.com">Gravatar.com</a>.</p>
</div>

<div class="profile_form_cont">
    <form method="post" action="/profile/save/">
        {% if user_form.errors %}
            user_form.errors
        {% endif %}
        <ul>
            {{ user_form.as_ul }}
            {% if pwd_change.errors %}
                pwd_change.errors
            {% endif %}
            {{ pwd_change.as_ul }}
            <li><input type="submit" name="submit" value="Appliquer les changements" /></li>
        </ul>    
    </form>

    <h1>Liste de vos IOs</h1>
    {{ios}}

</div>

{%endblock%}
