body {
    font-family: helvetica, arial, verdana, sans-serif;
    font-weight: 100;
    background: #eeeeee;
}

header { 
    background: grey;
    min-height: 30px;
}

#page {
    overflow: hidden;
}

#page>header h1 {
    background: transparent url(../images/logo.png) no-repeat;
    width: 200px;
    height: 80px;
    text-indent: -3000em;
    overflow: hidden;
    float: left;
}

#page>header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}

h2 {
	font: 2.3em georgia, times, sans-serif;
	font-style: italic;
	margin: 20px 0;
}

h2 em  {
    color: #a0a0a0;
    font-weight: normal;
    font-size: 1.2em;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px;
}

#page>header {
    height: 120px;
    background: transparent;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 5;
    width: 960px;
}

/* Menu style */
#main_menu {
    background: transparent;
    height: 65px;
    display: block;
    float: right;
    position: relative;
    width: 701px;
}

#main_menu ul {
    background: transparent;
	font-size: 18px;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#main_menu p {
    display: none;
}

#main_menu li {
    display: block;
    float: left;
	width: 134px;
	background: transparent;
	color: #545454;
	text-indent: 10px;
	line-height: 65px;
}

#main_menu > ul > li:nth-last-child(1) {
    clear: right;
    float: right;
    width: 165px;
}

#main_menu > ul > li:nth-last-child(1)>a {
    padding-right: 15px;
    background: #ac3e3e;
    border-bottom-right-radius: 15px 15px;
}

#main_menu > ul > li:nth-child(1)>a {
    border-bottom-left-radius: 15px 15px;    
}

#main_menu a {
	display: block;
	text-decoration: none;
	color: #545454;
    width: 100%;
    height: 100%;
    font-weight: normal;
    text-transform: uppercase;
    background: white;
}

#main_menu li ul {
    background: #b2ff00;
	height: auto;
	left: -999em;
	position: absolute;
    width: 10em;
	z-index: 12;
}

#main_menu li ul li {
    margin-left: 0;
    display: block;
    width: 10em;
}

#main_menu li ul li a {
    display: block;
    padding: 0 15px;
    line-height: auto;
    width: auto;
    background: #b2ff00;
}

#main_menu li:hover ul {
	left: auto;	
}

#main_menu:hover {
    background: transparent none;
}

#main_menu > ul > li:hover a {
    background: #B2FF00 none;
    color: black;
}

#main_menu li ul:hover, 
#main_menu li ul:hover a {
    background: #6ca830;
}

#main_menu li ul li a:hover{
    /*border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px; */
    background: #B2FF00;
}

#main_menu .user {
    margin: 15px 0;
    text-align: right;
    
}

#content {
    background: white;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 20px;
    width: 880px;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    min-height: 700px;
}

/* Style pour les commandes */
header {
    clear: both;
}

header.form section:nth-last-child(1) { 
    clear: right;
}

.message {
    color: black;
    width: 850px;
    position: relative;
    left: -100px;
    background: transparent url(../images/message_back.png) repeat-x 0 47px;
    height: 155px;
    padding: 0 115px;
    text-transform: none;
}

.message header {
    font-size: 21px;
    background: #3e3e3e;
    padding: 0 15px;
    color: white;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    width: auto;
    position: absolute;
    left: 140px;
}

/* Style pour la pointe de couleur */
.message header div {
    background: transparent url(../images/header_pointe_grise.png) no-repeat;
    bottom: -30px;
    height: 30px;
    left: 20px;
    position: absolute;
    width: 50px;
}

.message .content {
    margin: 20px 0;
    padding-right: 250px;
    position: relative;
    top: 70px;
    left: 0;
}

.message .help_text {
    padding-left: 80px;
    background: transparent url(../images/help_text_back.png) no-repeat;
    min-height: 100px;
}

.message .info_text {
    padding-left: 80px;
    background: transparent url(../images/info_text_back.png) no-repeat;
    min-height: 100px;    
}

em {
    font-size: 1.1em;
    font-weight: bold;
}

/* all forms should have a first level inner div to wrap the content */ 
form > div {
    background: #f5f1ec;
    float: left;
    margin: 15px 0;
    overflow: hidden;
    padding: 50px 15px 15px;
    position: relative;
    width: 315px;
}

form header {
    background: #4ebaff;
    color: white;
    left: 0;
    padding: 0 20px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

form header h3, form header h2 {
    margin: 12px 0;
}

form header div {
   background: transparent url(../images/form_header_back.png) no-repeat;
   bottom: -20px;
   height: 20px;
   left: 20px;
   position: absolute;
   width: 35px;
   
}

form label {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
    display: block;
}

form input[type=text], form input[type=password] {
    color: #808080;
    font-family: georgia, times, serif;
    font-size: 18px;
    height: 30px;
    padding: 6 5px 5px;
    width: 100%;
}

form input[type=submit] {
    display: block;
    float: right;
    clear-after: both;
}
form input[type=submit]:after{
    clear: both;
}

/* Style for the login box */

#connect_form ul {
    border: 3px solid grey;
    display: block;
    margin: 10px auto;
    padding: 15px;
    position: relative;
    width: 400px;
}

#connect_form input[type=submit] {
    margin: 15px 0;
}

.clearer {
    clear: both;
    background: transparent none;
    height: 0;
    display: block;
}

/* Liste des transactions dans la commande */
.dans_la_commande {
    display: block;
    float: right;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin: 15px 0;
    overflow: hidden;
    padding: 25px 0;
    position: relative;
    padding-top: 50px;
    text-transform: uppercase;
    width: 525px;
}

.dans_la_commande header {
    background: #4ebaff;
    color: white;
    left: 0;
    padding: 0 20px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

.dans_la_commande header h3, .dans_la_commande header h2 {
    margin: 12px 0;
}

.dans_la_commande header div {
   background: transparent url(../images/form_header_back.png) no-repeat;
   bottom: -20px;
   height: 20px;
   left: 20px;
   position: absolute;
   width: 35px;
   
}

.dans_la_commande ol  {
    margin: 15px 0 30px 0;
}

.dans_la_commande li {
    padding: 5px 0;
    position: relative;
    width: auto;
}

.dans_la_commande li:hover {
    background: #f5f1ec;
}

.dans_la_commande li:hover .delete {
    display: block;
}

.dans_la_commande em {
    font-size: 1em;
    font-weight: 100;
}

.dans_la_commande div {
    overflow: hidden;
}

.dans_la_commande div > span {
    float: left;
    width: 40%;
}

.dans_la_commande div > em {
    float: right;
    text-align: right;
    width: 40%;
}

.dans_la_commande .type {
    display: inline-block;
    width: 130px;
}

.dans_la_commande .price {
    display: inline-block;
    text-align: right;
    width: 90px;
}

.dans_la_commande .desc {
    display: inline-block;
    width: 295px;
}

.dans_la_commande .delete {
    background: #eaad4d url(../images/delete.png) 3px 3px no-repeat;
    color: black;
    cursor: pointer;
    display: none;
    font-weight: bold;
    height: auto;
    left: 0;
    opacity: 0.5;
    padding: 6px 28px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: auto;
}

.dans_la_commande .delete:hover {
    opacity: 1;
}

.dans_la_commande .note {
    font-size: 0.9em;
    display:block;
    padding-left: 20px;
    text-transform: none;
}

#content footer {
    clear: both;
}

/* style pour les listes générique */
.liste table{
    position: relative;
    margin: 0 auto;
}

.liste th {
	background: #3F3F3F; /* old browsers */
	background: -moz-linear-gradient(top, #3F3F3F 0%, #898989 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F3F3F), color-stop(100%,#898989)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3F3F3F', endColorstr='#898989',GradientType=0 ); /* ie */
    color: white;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: normal;
    
}

.liste tr>th:nth-child(1)  {
	border-top-left-radius: 10px;
    text-align: center;
}

.liste tr>th:last-child {
	border-top-right-radius: 10px;	
}

.liste td {
    padding: 5px;
    border-bottom: 1px solid black;
    vertical-align: middle;
	color: #3b3b3b;
}

.liste tr>td:nth-child(1) {
    font-size: 1.5em;
    text-align: center;
}

.liste tr:hover {
    background: #898989;
    color: #000;
}

.liste tr:hover td {
	color: #000;
}

.liste a {
    font-weight: bold;
    color: #303030;
    text-decoration: none;
}

.liste table a:hover {
    color: white;
    text-decoration: underline;
}

.add {
    background: transparent url(../images/plus-icon.png) no-repeat;
    border: 0;
    color: #3f3f3f;
    display: block;
    font-size: 2em;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    text-indent: 85px;
    width: auto;
}

.add:hover {
    background-color: #f3f3f3;
    color: black;
}

.errorlist {
    color: red;
    font-weight: bold;
}

#id_Qte {
    text-align: right;
}

.trans {
    background: #dffcc7;
    margin-bottom: 50px;
}

.trans h4 {
    text-transform: uppercase;
}

.details > div  {
    margin-bottom: 10px;
}

.details ol > li {
    height: 30px;
    margin-left: 30px;
    padding-top: 10px;
}

.details ol .nom {
    display: inline-block;
    width: 405px;
}

/*.details ol > li.CMD {
    font-size: 1.1em;
    margin: 15px 0 0 0;
}*/

.details ol > li time {
    color: #3e362b;
    display: inline-block;
    width: 140px;
}

.details ol > li .type {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    width: 125px;
}

.details ol > li .price {
    float: right;
    font-size: 1.3em;
}

.details ol > li.CMD .price,
.details ol > li.RTV .price {
    display: none;
} 

.details .tot {
    margin: 15px 0;
}

.details .tot em {
    float: right;
    font-size: 1.4em;
}

#message {
    color: green;
    font-size: 16pt;
    margin: 15px 0;    
}

#erreurs {
    color: red;
    font-size: 16pt;
    margin: 15px 0;
}

#facture header {
    background: transparent;
    margin-top: 50px;
}

#facture header ol {
    overflow: hidden;
}

#facture header li {
    float: left;
}

#facture header .statut {
    width: 170px;
}

#facture header .produit {
    width: 410px;
}


#facture header .qte {
    width: 150px;
}


#facture header .cout {
    width: 150px;
}

/* Dashboard */
.buttons {
	overflow: hidden;
	padding: 20px 38px;
}

.buttons li  {
	background: #0787F1; /* old browsers */
	background: -moz-linear-gradient(top, #0787F1 0%, #00B8FF 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0787F1), color-stop(100%,#00B8FF)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0787F1', endColorstr='#00B8FF',GradientType=0 ); /* ie */
	
	border-radius: 15px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	float: left;
	margin-right: 10px;
}

.buttons li:hover {
	background: #1455D4; /* old browsers */
	background: -moz-linear-gradient(top, #1455D4 0%, #00B8FF 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1455D4), color-stop(100%,#00B8FF)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1455D4', endColorstr='#00B8FF',GradientType=0 ); /* ie */
}

.buttons li a{
	color: white;
	display: block;
	font-size: 17px;
	font-weight: 100;
	padding: 15px 10px;
	text-decoration: none;
}


