{% extends "base.html" %}
{% load extras %}

{%block title%}
    Le Bière board {%block subtitle %} Page principale {%endblock%}
{%endblock%}

{%block content%}
    <h2>Dashboard!</h2>
    <p>Les actions les plus courrantes</p>
	<ul class="buttons">
		<li><a href="/factures/super/?a=commande_comite">Commande d'un comité</a></li>
		<li><a href="/factures/super/?a=commande_comptant">Commande au comptant</a></li>
		<li><a href="/factures/super/?a=vente_comite">Vente au comité</a></li>
		<li><a href="/factures/super/?a=reception_fournisseur">Réception d'un fournisseur</a></li>
	</ul>
    <h3>Dernières commandes</h3>

    {% facture_summary 5 %}

    {%block subcontent %}
    {%endblock%}
{%endblock%}